<template>
    <div class="component detail">
        <div class="container">
            <div class="apiContent" v-if="results">
                <div class="item" v-for="result in results.slice(0,1)" v-bind:key="result.item">
                    <h2 v-bind:key="result.data.items">{{result.data[0].title}}</h2>
                    <img v-bind:src="result.links[0].href" alt="Nasa api image" />
                    <p v-bind:key="result.data.items">{{result.data[0].description}}</p>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import axios from "axios";
    @Component
    export default class Detail extends Vue {
        dataUrl = 'https://images-api.nasa.gov/search?nasa_id=';
        id = this.$route.params.id; // router parameter from router index file
        results = '';
        mounted (){
            this.fetchRandomData();
        }
        fetchRandomData () {
            axios.get(this.dataUrl + this.id).then(res => {
                this.results = res.data.collection.items;
            })
        }
    }
</script>
<style lang="scss">
    .detail {
        .item {
            background-color: #fff;
            padding: 50px;
            margin: 100px 0 0 0;
            -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.05);
            -moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.05);
            box-shadow: 0 0 5px 1px rgba(0,0,0,0.05);
            border-radius: 10px;
            h2 {
                text-align: left;
            }
            p {
                text-align: left;
            }
            img {
                margin: 50px 0 50px 0;
                width:100%;
                max-height: 50vh;
                min-height: 50vh;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }

    .apiContent {
        display: flex;
        align-items: center;
        align-content: center;
    }
</style>
