<template>
    <div class="disclaimer container" style="padding-top: 100px;">
        <h2>Disclaimer</h2>
        <p>I do not own any of the contents & media that can be found in this application. All content belongs to the respectful owners.<br>This project is made for education purposes. The origin of the contents displayed are from the public Nasa images API provided by <a href="https://images.nasa.gov/">//images.nasa.gov/</a>
        information regarding the api can be found on the Nasa website previously mentioned.</p>
    </div>
</template>
<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    @Component
    export default class Disclaimer extends Vue {}
</script>
<style lang="scss"></style>
