<template>
    <div class="home">
      <div class="logo">
        <a href="/"><img alt="Logo" src="../assets/logo.svg"></a>
      </div>
    <Nasa/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Nasa from "@/components/Nasa.vue"; // @ is an alias to /src

export default Vue.extend({
  name: 'Home',
  components: {
    Nasa,
  },
});
</script>
<style lang="scss">
  .home {
    padding-top: 100px;
    width: 100%;
  }
  h1 {
    margin-top: 25px;
    font-size: 24px;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  img {
    width: 300px;
  }
  }
</style>
