<template>
    <div class="component">
        <form>
            <label>
                <input placeholder="Search the galaxy" type="text" v-model="searchQuery" />
            </label>
            <label>
            <input class="searchSubmit" type="submit" value="🔍" @click.prevent="getSearch" />
            </label>
        </form>
        <form>
            <input class="category" type="submit" :value="category = 'galaxy'" @click="category ='galaxy'" @click.prevent="getCategory">
            <input class="category" type="submit" :value="category = 'earth observation'" @click="category ='earth observation'" @click.prevent="getCategory">
            <input class="category" type="submit" :value="category = 'falcon landing'" @click="category ='falcon landing'" @click.prevent="getCategory">
            <input class="category" type="submit" :value="category = 'view from skylab'" @click="category ='view of from skylab'" @click.prevent="getCategory">
            <input class="category" type="submit" :value="category = 'approaching space shuttle'" @click="category ='approaching space shuttle'" @click.prevent="getCategory">
        </form>
        <div class="apiContent" v-if="results">
            <router-link :to="{name: 'detail', params: { id: result.data[0].nasa_id}}" v-for="result in results.slice(0,20)" v-bind:key="result.item" class="item">
                <img v-bind:src="result.links[0].href" alt="Nasa api image" />
                <h3 v-bind:key="result.data.items">{{result.data[0].title.slice(0, 38) + '..'}}</h3>
            </router-link>
        </div>
    </div>
</template>
<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import axios from "axios";
    @Component
    export default class Nasa extends Vue {
        dataUrl = 'https://images-api.nasa.gov/search?nasa_id=';
        dataRandom = Math.floor(Math.random() * (250));
        results = '';
        searchQuery = '';
        category = '';
        searchUrl = 'https://images-api.nasa.gov/search?q=';
        mounted (){
            this.fetchRandomData();
        }
        fetchRandomData () {
            axios.get(this.dataUrl + this.dataRandom).then(res => {
                this.results = res.data.collection.items;
            });
        }
        getSearch(){
            axios.get(this.searchUrl + this.searchQuery).then(res => {
                this.results = res.data.collection.items;
            });
        }
        getCategory() {
            axios.get(this.searchUrl + this.category).then(res => {
                this.results = res.data.collection.items;
            });
        }
    }
</script>
<style scoped lang="scss">
    .component {
        width: 100%;
        margin-bottom: 10px;
    }
    form {
        text-align: center;
        margin: 50px 0 50px 0;
        .category {
            margin: 25px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    input {
        border: none;
        font-size: 16px;
        font-weight: 400;
        padding: 20px;
        border-radius: 5px;
        width: 400px;
        background: #eee;
    }
    .searchSubmit {
        width: 60px;
        margin-left: 5px;
        background-color: #0B3D91;
        font-size: 30px;
        padding: 9px;
        vertical-align: bottom;
        cursor: pointer;
    }
    select {
        margin-top: 10px;
        padding: 10px;
        border: none;
        border-radius: 3px;
    }
    .apiContent {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 25px;
            padding: 10px;
    }
    .item {
        min-height: 25vh;
        padding: 0 0 25px 0;
        img {
            width: 100%;
            max-height: 25vh;
            height: 25vh;
            min-height: 25vh;
            object-fit: cover;
            vertical-align: middle;
            border-radius: 10px;
        }
        h3 {
            font-size: 15px;
            font-weight: 600;
            margin-top: 10px;
            text-align: left;
            color: #415264;
            max-height: 75px;
        }
    }
    @media screen and (max-width:1280px) {
        .apiContent {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media screen and (max-width:768px) {
        .component {
            form {
                input {
                    width: unset;
                }
            }
        }
        .apiContent {
            display: grid;
            grid-template-columns: 1fr;
            .item {
                padding: 25px;
                p {
                    margin: 10px auto;
                    text-align: center;
                    font-weight: bold;
                }
                img {
                    height: 50vh;
                }
            }
        }
    }
</style>
