<template>
    <header id="app">
        <nav>
            <div class="menu-items">
                <router-link to="/">Home </router-link>
                <router-link to="/disclaimer">Disclaimer</router-link>
                <router-link to="/contact">Contact</router-link>
            </div>
        </nav>
    </header>
</template>
<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    @Component
    export default class Navigation extends Vue {}
</script>
<style lang="scss">
    .menu-items {
        text-align: center;
    }
    a {
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        padding-top: 5px;
        font-weight: 600;
        color: #2c3e50;
    }
    a:hover {
        color: #e70d2f;
    }
    header {
        width: 100%;
        padding: 20px 0 20px 0;
        position: fixed;
        border-bottom: 1px solid #eee;
        background: #fcfcfc;

        a {
            font-weight: 600;
            color: #415264;
            text-decoration: none;
            padding-left: 10px;
            padding-right: 10px;
            &.router-link-exact-active {
                color: #e70d2f;
            }
        }
    }
    .bm-menu {
        background-color: rgb(247,247,247);
        a {
            color: black !important;
        }
        a.router-link-exact-active {
            color: #e70d2f !important;
        }
    }
    .bm-burger-button {
        display: none;
    }
</style>
