<template>
  <div id="app">
    <navigation/>
    <router-view/>
  </div>
</template>

<style lang="scss">
  @import '../node_modules/bootstrap-4-grid/css/grid.min.css';
  * {
    padding: 0;
    margin: 0;
  }
#app {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
body {
  background-color: #fbfbfb;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
<script lang="ts">
  import Vue from "vue";
  import {Component} from "vue-property-decorator";
  import Navigation from "@/components/Navigation.vue";


  @Component({
    components: {Navigation}
  })
  export default class App extends Vue {
  }
</script>
